!!! 5
%html
  = render 'layouts/head'

  %body{ data: { controller: controller.controller_path, action: controller.action_name }, class: "#{controller.action_name} #{controller.controller_path}".parameterize }
    - if content_for? :landing
      = yield :landing
    - else
      = render 'layouts/navigations'
      %section.main-wrapper= yield
      = render 'layouts/footer'
