!!!
%html
  %head
    %title ShoppingCart
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{ data: { controller: controller.controller_path, action: controller.action_name }, class: "#{controller.action_name} #{controller.controller_path}".parameterize }
    %section.main-wrapper= yield
